#{extends 'mobile.html' /}
#{set title:frontPost.title /}
#{if frontPost.description != null}
	#{set description:frontPost.description /}
#{/if}
#{else}
	#{set description:description /}
#{/else}
#{if frontPost.keywords != null}
	#{set keywords:frontPost.keywords.join(', ') /}
	*{ #{set keywords:frontPost.keywords.toString().substring(1,frontPost.keywords.toString().length() -1) /} }*
#{/if}
#{else}
	#{set keywords:keywords /}
#{/else}
<div data-role="page" id="jqm-home"> 
	<div id="jqm-homeheader"> 
		<h1 id="jqm-logo"><img src="/public/images/aheron_logo_yab.png"  title="zur Startseite" alt="Aheron Logo | yab. das technik blog." width="349" height="98" /></h1> 
	</div>

	<div data-role="content"> 
	 
    #{if posts.size()}
        <ul data-role="listview" data-inset="true"> 
        	<li data-role="list-divider">Aktuelle Artikel</li>
            #{list items:posts, as:'post'}
                <li><a href="@{Mobile.show(post.id)}" title="${post?.description}">${post.title}</a></li> 
            #{/list}            
        </ul> 
        
        <ul data-role="listview" data-inset="true"> 
        	<li data-role="list-divider">Sonstiges</li>
        	<li><a href="/mobile/impressum">Impressum</a></li>
        	<li><a href="/mobile/datenschutz">Datenschutz</a></li>
        	<li><a href="${twitter}">Folge mir auf Twitter</a></li>
        	<li><a href="http://feeds.feedburner.com/YabDasTechnikBlog">Aboniere den RSS-Feed</a></li>
        </ul>
        
    #{/if}

 	</div> 
 	

</div> 
