*{ Display a post in one of these modes: 'full', 'home' or 'teaser' }*
<div class="artikel-ueberschrift">
	<h1>
	<a href="@{Application.show(_post.id)}">${_post.title}</a>
	</h1>
	<a class="kommentarlink" href="@{Application.show(_post.id)}#kommentare">
	<span>${_post.comments.size()}</span>
	</a>
	<div class="clr">
	</div>
</div>

#{if _as == 'teaser'}
${_post?.description.raw()}
#{/if}

#{if _as != 'teaser'}
${_post.html_content.raw()}

<div class="shr-publisher-1224 shareaholic-show-on-load" style="height: 52px; overflow-x: hidden; overflow-y: hidden; display: block; ">
	<div class="shr-bookmarks">
		<ul class="socials">
			<li class="shr-7 shareaholic" style="margin-left:0px !important;">
				<a href="http://www.shareaholic.com/api/share/?v=1&amp;apitype=1&amp;apikey=7d539c408078856c6c9a97747d2e2cd21&amp;service=7&amp;title=${_post.title.urlEncode()}&amp;link=@@{Application.show(_post.id)}&amp;source=blog.aheron.de&amp;shortener=bitly&amp;shortener_key=arizael|R_23b9ef53197ee5a09d98c66a4d754301&amp;template=%24%7Btitle%7D+-+%24%7Bshort_link%7D&amp;tags=#{list items:_post.tags, as:'tag'}${tag}${tag_isLast ? '' : '%2C'}#{/list}&amp;category=Technology" rel="nofollow" title="Twittern" target="_blank" class="external"></a>
			</li>
			<li class="shr-5 shareaholic" style="margin-left:0px !important;">
				<a href="http://www.shareaholic.com/api/share/?v=1&amp;apitype=1&amp;apikey=7d539c408078856c6c9a97747d2e2cd21&amp;service=5&amp;title=${_post.title.urlEncode()}&amp;link=@@{Application.show(_post.id)}&amp;source=blog.aheron.de&amp;shortener=bitly&amp;shortener_key=arizael|R_23b9ef53197ee5a09d98c66a4d754301&amp;template=%24%7Btitle%7D+-+%24%7Bshort_link%7D&amp;tags=#{list items:_post.tags, as:'tag'}${tag}${tag_isLast ? '' : ',%2C'}#{/list}&amp;category=Technology" rel="nofollow" title="Auf Facebook teilen" target="_blank" class="external"></a>
			</li>
			<li class="shr-2 shareaholic" style="margin-left:0px !important;">
				<a href="http://www.shareaholic.com/api/share/?v=1&amp;apitype=1&amp;apikey=7d539c408078856c6c9a97747d2e2cd21&amp;service=2&amp;title=${_post.title.urlEncode()}&amp;link=@@{Application.show(_post.id)}&amp;source=blog.aheron.de&amp;shortener=bitly&amp;shortener_key=arizael|R_23b9ef53197ee5a09d98c66a4d754301&amp;template=%24%7Btitle%7D+-+%24%7Bshort_link%7D&amp;tags=#{list items:_post.tags, as:'tag'}${tag}${tag_isLast ? '' : ',%2C'}#{/list}&amp;category=Technology" rel="nofollow" title="Bookmark auf Delicious hinzufügen" target="_blank" class="external"></a>
			</li>
			<li class="shr-3 shareaholic" style="margin-left:0px !important;">
				<a href="http://www.shareaholic.com/api/share/?v=1&amp;apitype=1&amp;apikey=7d539c408078856c6c9a97747d2e2cd21&amp;service=3&amp;title=${_post.title.urlEncode()}&amp;link=@@{Application.show(_post.id)}&amp;source=blog.aheron.de&amp;shortener=bitly&amp;shortener_key=arizael|R_23b9ef53197ee5a09d98c66a4d754301&amp;template=%24%7Btitle%7D+-+%24%7Bshort_link%7D&amp;tags=#{list items:_post.tags, as:'tag'}${tag}${tag_isLast ? '' : ',%2C'}#{/list}&amp;category=Technology" rel="nofollow" title="Diggen" target="_blank" class="external"></a>
			</li>
			<li class="shr-38 shareaholic" style="margin-left:0px !important;">
				<a href="http://www.shareaholic.com/api/share/?v=1&amp;apitype=1&amp;apikey=7d539c408078856c6c9a97747d2e2cd21&amp;service=38&amp;title=${_post.title.urlEncode()}&amp;link=@@{Application.show(_post.id)}&amp;source=blog.aheron.de&amp;shortener=bitly&amp;shortener_key=arizael|R_23b9ef53197ee5a09d98c66a4d754301&amp;template=%24%7Btitle%7D+-+%24%7Bshort_link%7D&amp;tags=#{list items:_post.tags, as:'tag'}${tag}${tag_isLast ? '' : ',%2C'}#{/list}&amp;category=Technology" rel="nofollow" title="Stumbleit" target="_blank" class="external"></a>
			</li>
			<li class="shr-257 shareaholic" style="margin-left:0px !important;">
				<a href="http://www.shareaholic.com/api/share/?v=1&amp;apitype=1&amp;apikey=7d539c408078856c6c9a97747d2e2cd21&amp;service=257&amp;title=${_post.title.urlEncode()}&amp;link=@@{Application.show(_post.id)}&amp;source=blog.aheron.de&amp;shortener=bitly&amp;shortener_key=arizael|R_23b9ef53197ee5a09d98c66a4d754301&amp;template=%24%7Btitle%7D+-+%24%7Bshort_link%7D&amp;tags=#{list items:_post.tags, as:'tag'}${tag}${tag_isLast ? '' : ',%2C'}#{/list}&amp;category=Technology" rel="nofollow" title="Buzzen" target="_blank" class="external"></a>
			</li>
			<li class="shr-201 shareaholic" style="margin-left:0px !important;">
				<a href="http://www.shareaholic.com/api/share/?v=1&amp;apitype=1&amp;apikey=7d539c408078856c6c9a97747d2e2cd21&amp;service=201&amp;title=${_post.title.urlEncode()}&amp;link=@@{Application.show(_post.id)}&amp;source=blog.aheron.de&amp;shortener=bitly&amp;shortener_key=arizael|R_23b9ef53197ee5a09d98c66a4d754301&amp;template=%24%7Btitle%7D+-+%24%7Bshort_link%7D&amp;tags=#{list items:_post.tags, as:'tag'}${tag}${tag_isLast ? '' : ',%2C'}#{/list}&amp;category=Technology" rel="nofollow" title="Per E-Mail senden" target="_blank" class="external"></a>
			</li>
			<li class="shr-52 shareaholic" style="margin-left:0px !important;">
				<a href="http://www.shareaholic.com/api/share/?v=1&amp;apitype=1&amp;apikey=7d539c408078856c6c9a97747d2e2cd21&amp;service=52&amp;title=${_post.title.urlEncode()}&amp;link=@@{Application.show(_post.id)}&amp;source=blog.aheron.de&amp;shortener=bitly&amp;shortener_key=arizael|R_23b9ef53197ee5a09d98c66a4d754301&amp;template=%24%7Btitle%7D+-+%24%7Bshort_link%7D&amp;tags=#{list items:_post.tags, as:'tag'}${tag}${tag_isLast ? '' : ',%2C'}#{/list}&amp;category=Technology" rel="nofollow" title="Als G-Mail senden" target="_blank" class="external"></a>
			</li>
			<li class="shr-88 shareaholic" style="margin-left:0px !important;">
				<a href="http://www.shareaholic.com/api/share/?v=1&amp;apitype=1&amp;apikey=7d539c408078856c6c9a97747d2e2cd21&amp;service=88&amp;title=${_post.title.urlEncode()}&amp;link=@@{Application.show(_post.id)}&amp;source=blog.aheron.de&amp;shortener=bitly&amp;shortener_key=arizael|R_23b9ef53197ee5a09d98c66a4d754301&amp;template=%24%7Btitle%7D+-+%24%7Bshort_link%7D&amp;tags=#{list items:_post.tags, as:'tag'}${tag}${tag_isLast ? '' : ',%2C'}#{/list}&amp;category=Technology" rel="nofollow" title="LinkedIn" target="_blank" class="external"></a>
			</li>
		</ul>
	</div>
</div>
#{/if}
#{if _post.tags}
<div class="artikel-footer">
	<strong>Thema:</strong>
	#{list items:_post.tags, as:'tag'}
	<a class="tags" href="@{Application.listTagged(tag.name)}">
	<strong>${tag}</strong>
	</a>${tag_isLast ? '' : ', '}
	#{/list}
	#{/if}
	<span>${_post.author.fullname} | ${_post.postedAt.format('dd.MM.yyyy','de')} um ${_post.postedAt.format('HH:mm','de')}</span>
</div>
#{if _as == 'full'}
#{if _post.previous() && _post.next()}
<div class="artikel-pagination">
	#{if _post.previous()}
	<div class="previous">
		<a href="@{Application.show(_post.previous().id)}">${_post.previous().title}</a>
	</div>
	#{/if}
	<span>@</span>
	#{if _post.next()}
	<div class="next">
		<a href="@{Application.show(_post.next().id)}">${_post.next().title}</a>
	</div>
	#{/if}
	<div class="clr">
	</div>
</div>
#{/if}
#{if _post.previous() && !_post.next()}
<div class="artikel-previous">
	<span><a href="@{Application.show(_post.previous().id)}">${_post.previous().title}</a></span>
</div>
#{/if}
#{if !_post.previous() && _post.next()}
<div class="artikel-next">
	<span><a href="@{Application.show(_post.next().id)}">${_post.next().title}</a></span>
</div>
#{/if}
<h3>${_post.comments.size() ?: 'Kein'} Kommentar${_post.comments.size().pluralize('','e')}</h3>
<div class="kommentare" id="kommentare">
	#{list items:_post.comments, as:'comment'}
	<div class="kommentar-numer">
		${comment_index.format('00')}
	</div>
	<div class="kommentar">
		<span id="autor-${comment.author.urlEncode()}-${comment_index.format('00')}">
			#{if comment.hasURL()}
			<a href="${comment.url}" target="_blank">${comment.author}</a>#{/if}#{else}${comment.author}#{/else}
		</span>
		<blockquote>
			<img class="gravatar" src="@{Application.gravatar(comment.id)}" width="30" height="30" align="right" title="${comment.author} schreibt" alt="Bild von ${comment.author}" />
			${comment.content.raw().nl2br()}
		</blockquote>
		<em>${comment.postedAt.format('dd.MM.yyyy','de')} um ${comment.postedAt.format('HH:mm','de')}</em>
	</div>
	<div class="clr">
	</div>
	*{
	<div class="comment">
		<div class="comment-metadata" id="autor-${comment.author.urlEncode()}">
			<span class="comment-author">by ${comment.author},</span>
			<span class="comment-date">${comment.postedAt.format('dd MMM yy')}</span>
		</div>
		<div class="comment-content">
		</div>
	</div>}*
	#{/list}
</div>
#{/if}
