#{extends 'main.html' /}
#{set title:frontPost.title /}
#{if frontPost.description != null}
	#{set description:frontPost.description /}
#{/if}
#{else}
	#{set description:description /}
#{/else}
#{if frontPost.keywords != null}
	#{set keywords:frontPost.keywords.join(', ') /}
	*{ #{set keywords:frontPost.keywords.toString().substring(1,frontPost.keywords.toString().length() -1) /} }*
#{/if}
#{else}
	#{set keywords:keywords /}
#{/else}
#{if frontPost}
    #{display post:frontPost, as:'home' /}
    *{
    #{if olderPosts.size()}
        <div class="older-posts">    
            <h3>Older posts <span class="from">from this blog</span></h3>
            #{list items:olderPosts, as:'oldPost'}
                #{display post:oldPost, as:'teaser' /}
            #{/list}            
        </div>
        
    #{/if}
    }*
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}