#{extends 'main.html' /}
#{set title:'Posts tagged with ' + tag /}
 
*{********* Title ********* }*
 
#{if posts.size() > 1}
   <h3>${posts.size()} Artikel zum Thema '${tag}' gefunden</h3>  
#{/if} 
#{elseif posts}
    <h3>${posts.size()} Artikel zum Thema '${tag}' gefunden</h3>  
#{/elseif}
#{else}
    <h3>Kein Artikel zum Thema '${tag}' gefunden</h3>
#{/else}
 
*{********* Posts list *********}*
 
<div class="older-posts">    
    #{list items:posts, as:'post'}
        #{display post:post, as:'teaser' /}
    #{/list}
</div>