<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xml:lang="de" lang="de">
    <head>
        <title>yab. #{get 'title' /} - Das Technik Blog</title>
        
        <meta name="y_key" content="4a0105ae2af04c09" />
        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        
        <meta name="description" content="yab. Das Technik Blog, Play Framework, Tutorials, Linux, Webserver und mehr.">
		<meta name="keywords" content="Blog, Play Framework, playframework, Tutorials, Linux, Webserver, Java, Javascript">
		<meta name="author" content="Sascha Hanke">
		<meta name="robots" content="all">
		
		<meta name="geo.region" content="DE-NW" />
		<meta name="geo.placename" content="Engelskirchen" />
		<meta name="geo.position" content="50.99;7.41" />
		<meta name="ICBM" content="50.99, 7.41" />
		
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/main.css'}" />
        <link rel="stylesheet" type="text/css" href="@{'/public/stylesheets/iphone.css'}" media="only screen and (max-device-width: 480px)" />
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />
        
        <link rel="alternate" type="application/rss+xml" title="RSS-Feed von yab. Das Technik Blog" href="@@{Application.rssFeedPosts()}" />
        
        <script src="/public/javascripts/jquery-1.3.2.min.js"></script>
        <script src="/public/javascripts/jquery.tools.min.js"></script>
        <script>
    		function facebookLogin() {
        		FB.getLoginStatus(function(response) {
        	    	if (response.session) {
        	        	window.location = "@{Application.facebookLogin()}";
        	    	} else {
        	     	   window.location = "@{Secure.logout()}";
        	    	}
        		});
    		}
		</script>
    </head>
    <body>	
        <div id="header">
            <div id="logo">
                yab.
            </div>
            <ul id="tools">
                <li>
                	<fb:login-button perms="email" size="medium" onlogin="facebookLogin();"></fb:login-button>
                </li>
            </ul>
            <div id="title">
                <span class="about">About this blog</span>
                <h1><a href="@{Application.index()}">${blogTitle}</a></h1>
                <h2>${blogBaseline}</h2>
            </div>
        </div>

		<div id="right">
            #{displayinfo info:info, as:'full' /}
        </div>
        
        <div id="main">
            #{doLayout /}
        </div>

        <p id="footer">
            <a href="http://www.playframework.org" hreflang="en" title="The Play framework makes it easier to build Web applications with Java"><img width="88" height="32" src="@{'/public/images/powered_by_play_framework.png'}" alt="Powered by play framework" /></a>
			<a href="http://www.cherokee-project.com" hreflang="en" title="Cherokee is a very fast, flexible and easy to configure Web Server."><img width="88" height="32" src="@{'/public/images/powered_by_cherokee.png'}" alt="Powered by Cherokee" /></a>
			<a href="http://www.ubuntu.com" hreflang="en" title="Secure, fast and powerful, Ubuntu Server based on Debian"><img width="88" height="32" src="@{'/public/images/powered_by_debian.png'}" alt="Powered by Debian" /></a>
        </p>
        
        <!-- Facebook -->
			<div id="fb-root"></div>
			<script src="http://connect.facebook.net/de_DE/all.js"></script>
			<script>
				FB.init({appId: '119008341506791', status: true, cookie: true, xfbml : true});
			</script>
		<!-- End Facebook -->
		<!-- Piwik --> 
			<script>
				var pkBaseURL = (("https:" == document.location.protocol) ? "https://bumblebee.aheron.de/stats/" : "http://bumblebee.aheron.de/stats/");
				document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script>
				try {
					var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
					piwikTracker.trackPageView();
					piwikTracker.enableLinkTracking();
				} catch( err ) {}
			</script>
			<noscript>
				<p>
					<img src="http://bumblebee.aheron.de/stats/piwik.php?idsite=1" style="border:0" alt="piwik pixel, ignore it" />
				</p>
			</noscript>
		<!-- End Piwik Tracking Code -->
    </body>
</html>
